{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}| Home {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container checkout">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Review your order</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <p class="section-header fs-5 p-3 mb-0">Order details</p>
        </div>
        <div class="col-12 p-3">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless order-summary">
                    {% for item in bag_items %}
                        <tr class="order-summary-body">
                            <td class="pr-3 bag-item-img-row">
                                <img src="{{ item.product.image.url }}" class="img-fluid rounded-2 bag-item-img">
                            </td>
                            <td class="px-3">
                                <p class="mt-0 mb-0 fw-bold">
                                    {{ item.product.friendly_name }}
                                </p>
                                <p class="my-2 small text-muted">
                                    {{ item.product.sku }}
                                </p>
                                {% if item.product.size %}
                                <p class="my-2 text-uppercase">
                                    {{ item.product.size }}
                                </p>
                                {% else %}
                                    {% if item.product.height %}
                                    <p class="my-2 text-uppercase">
                                        {{ item.product.height }}
                                    </p>
                                    {% endif %}
                                {% endif %}
                                <p class="my-2">
                                    {% if item.product.is_on_sale %}
                                    £{{ item.product.sale_price | calc_subtotal:item.quantity }}
                                    {% else %}
                                    £{{ item.product.price | calc_subtotal:item.quantity }}
                                    {% endif %}
                                </p>
                                <form method="POST" action="{% url 'update_bag' item.item_id %}" class="form update-quantity">
                                    {% csrf_token %}
                                    <div class="form-group quantity bag-quantity">
                                        <div class="input-group input-group-{{ item.item_id }}">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-black rounded-0 decrement-qty_{{ item.item_id }}" 
                                                    data-item_id="{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}"
                                                type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{ item.item_id }}"
                                                    data-item_id="{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <a class="update-bag text-decoration-none small">
                                    Update
                                </a>
                                <a class="remove-item small" id="remove_{{ item.item_id }}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="row mb-4 order-bottom">
                <div class="col-sm-12 col-md-6 p-3 delivery-estimates-payment-options order-sm-1 order-md-0">
                    <div class="p-2">
                        <p class="fw-bold mb-1">Estimated delivery</p>
                        <p class="mb-1">
                            {% now "D d/m" %} - {{ 3|calc_estimated_delivery|date:"D d/m" }}
                        </p>
                        <p class="text-muted small">
                            <em>We aim to deliver our orders in 2-3 working days</em>
                        </p>
                    </div>
                    <div class="p-2">
                        <p class="fw-bold mb-1">Accepted payments</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 subtotals text-end p-3">
                    <p class="mb-1">Subtotal: £{{ total }}</p>
                    <p class="text-muted small mb-1">Delivery: £{{ delivery|floatformat:2 }}</p>
                    {% if free_delivery_delta > 0 %}
                        <p class="text-danger mb-3 small">
                            Spend <strong>£{{ free_delivery_delta }}</strong> more for free delivery!
                        </p>
                    {% endif %}
                    <h3 class="fw-bold fs-4 mt-4 mb-3">Total to pay: £{{ grand_total|floatformat:2 }}</h3>
                    <a href="{% url 'checkout' %}" class="btn rounded-0 go-to-checkout p-3 text-decoration-none mt-2" target="_self">Checkout</a>
                    <a href="{% url 'shop' %}" class="btn rounded-0 go-to-checkout p-3 text-decoration-none mt-2" target="_self">Keep shopping</a>
                </div>
            </div>
            {% else %}
            <div class="container d-flex flex-column align-items-center p-4">
                <img src="/media/wallet.png" height=150 width=150 class="my-auto mx-auto">
                <p class="mt-3 text-center fw-bold bag-empty fs-4">Nothing here yet!</p>
                <a href="{% url 'shop' %}" class="btn text-reset back-to-shopping w-50 p-3 rounded-0 mt-4" target="_self">Continue shopping</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {% include 'shop/includes/quantity_increment_script.html' %}
    <script type="text/javascript">

        // Updates bag item quantity
        $('.update-bag').click(function(e) {
            var form = $(this).prev('.update-quantity');
            form.submit();
        });

        // Remove item from bag
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        });
        
    </script>
{% endblock %}

