{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Home {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container checkout">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Review your order</h1>
        </div>
    </div>
    <div class="row">
        <div class="col p-3">
            <p class="section-header fs-5 p-3">Order details</p>
        </div>
    </div>
</div>
{% endblock %}