{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Home {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid hero-container">
    <div class="row h-100">
        <div class="col-sm-12 col-md-6 h-100 d-flex justify-content-center align-items-center order-sm-0 order-md-0 order-last hero-left">
            <div class="hero-left-text animated fadeInLeft p-0">
                <a href="{% url 'home' %}" class="navbar-brand hero-brand text-center fs-1 mr-0 d-block d-md-none d-lg-none" target="_self">
                    <img src="{% static 'images/brand-logo.png' %}" alt="Spade and plant" width="40" height="40" class="d-inline-block align-text-center">
                    Greensleeves
                </a>
                <h1 class="mb-3">For the love of things that grow</h1>      
                <div class="d-grid gap-2 hero-left-links pb-4">
                    <a href="{% url 'shop' %}?category=plants" class="py-3 text-center text-decoration-none" target="_self">Browse plants</a>
                    <a href="{% url 'shop' %}?category=accessories" class="py-3 text-center text-decoration-none" target="_self">Browse accessories</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 h-100 order-md-1 order-first hero-right d-flex justify-content-center align-items-center">
        </div>
    </div>
</div>
{% include 'includes/discount.html' %}
<div class="container-fluid why-greensleeves p-5">
    <div class="row" data-aos="fade-up" data-aos-delay="600">
        <div class="col-12 mb-4">
            <h1 class="text-center pt-5">Greensleeves provides</h1>
        </div>
    </div>
    <div class="p-4 why-greensleeves-answers">
        <div class="row d-flex flex-column" data-aos="fade-up" data-aos-delay="600"> 
            <div class="col">
                <ul class="d-flex justify-content-around flex-wrap">
                    <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                        <div class="d-flex justify-content-center flex-column align-items-center">
                            <img src="{% static 'images/agriculture.png' %}" width="80" height="80" alt="Person caring for plants">
                            <div class="why-text">
                                <h2 class="text-center fs-5 mt-3 fw-bold">Sustainability</h2>
                                <p class="text-center mb-5">
                                    Our plants are sourced from local and ethical growers
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                        <div class="d-flex justify-content-center flex-column align-items-center">
                            <img src="{% static 'images/delivery.png' %}" width="80" height="80" alt="Plant in a box">
                            <div class="why-text">
                                <h2 class="text-center fs-5 mt-3 fw-bold">Delivery</h2>
                                <p class="text-center mb-5">
                                    Orders are delivered straight to your door in 2-3 working days
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                        <div class="d-flex justify-content-center flex-column align-items-center">
                            <img src="{% static 'images/guidance.png' %}" width="80" height="80" alt="Person carrying plant">
                            <div class="why-text">
                                <h2 class="text-center fs-5 mt-3 fw-bold">Guidance</h2>
                                <p class="text-center mb-5">
                                    Our team are always on hand to help with any plant-parenting questions
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                        <div class="d-flex justify-content-center flex-column align-items-center">
                            <img src="{% static 'images/secure-shopping.png' %}" width="80" height="80" alt="Credit card and padlock">
                            <div class="why-text">
                                <h2 class="text-center fs-5 mt-3 fw-bold">Security</h2>
                                <p class="text-center mb-5">
                                    Shop and purchase with confidence that your information will be secure with us
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                        <div class="d-flex justify-content-center flex-column align-items-center">
                            <img src="{% static 'images/pinky-promise.png' %}" width="80" height="80" alt="Pinky swearing">
                            <div class="why-text">
                                <h2 class="text-center fs-5 mt-3 fw-bold">Promise</h2>
                                <p class="text-center mb-5">
                                    We will provide 100% refund if you are not happy with your order
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                        <div class="d-flex justify-content-center flex-column align-items-center">
                            <img src="{% static 'images/hand.png' %}" width="80" height="80" alt="Hand holding plant">
                            <div class="why-text">
                                <h2 class="text-center fs-5 mt-3 fw-bold">Quality</h2>
                                <p class="text-center mb-5">
                                    All our plants and gifts are given pre-shipping checks before delivery
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="600">
            <div class="col-12 text-center">
                <a href="{% url 'about_us' %}" target="_self" class="about-us-link text-decoration-none w-100 fw-bold p-3">More about us</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid everyone-container">
    <div class="row h-100">
        <div class="col-sm-12 col-md-6 h-100 everyone-image" data-aos="fade-down" data-aos-delay="600"></div>
        <div class="col-sm-12 col-md-6 h-100 d-flex flex-column justify-content-center align-items-center everyone-text p-5" data-aos="fade-up">
            <span class="navbar-brand mb-4 text-center">
                <img src="{% static 'images/brand-logo.png' %}" alt="Spade and plant" width="70" height="70" class="d-inline-block align-text-center">
            </span>
            <h1 class="text-center fw-bold">A plant for everyone</h1>
            <div class="p-4 mt-3 everyone-text-container">
                <p>
                    Here at Greensleeves, we believe plant parenthood is a joy and we want to spread that joy to
                    everyone who enters our site.
                </p>
                <p class="fw-bold">
                    We supply:
                </p>
                <ul class="list-unstyled">
                    <li class="mb-1"><i class="fas fa-leaf"></i> To all experience levels</li>
                    <li class="mb-1"><i class="fas fa-leaf"></i> Diverse plants from all over the world</li>
                    <li class="mb-1"><i class="fas fa-leaf"></i> Varying levels of care and plant needs</li>
                </ul>
                <p>
                    You can use our search filters to find the perfect plant, whether it be humidity, light, watering, pot type
                    or ease of care needs, we've got something for everyone.
                </p>
                <div class="d-grid gap-2 everyone-links mt-5">
                    <a href="" class="py-3 text-center text-decoration-none" target="_self">Browse plants</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid seasonal-collection h-100">
    <div class="row">
        <div class="col-lg-4 seasonal-text p-5 d-flex flex-column flex-md-row flex-lg-column align-items-center justify-content-center 
                    {% if collection_active == 'winter' %}winter-collection
                    {% elif collection_active == 'valentines' %}valentines-collection
                    {% elif collection_active == 'spring' %}spring-collection
                    {% else %}summer-collection
                    {% endif %}" data-aos="fade-up" data-aos-delay="600">
            <div class="col-12 col-md-6 col-lg-12 d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-center p-4">Seasonal gifts</h1>
                <p class="text-center w-75">Browse our seasonal gifts this {{ collection_active }} that are bound to leave you feeling 
                    {{ emotion }}
                </p>
            </div>
            <div class="col-12 col-md-4 offset-md-2 offset-lg-0 col-lg-12 d-grid gap-2 seasonal-links mt-5 pb-4">
                <a href="{% url 'shop' %}?seasonal_collection={{ collection_active }}" class="py-3 text-center text-decoration-none" target="_self">Browse collection</a>
            </div>
        </div>
        <div class="col-lg-8 seasonal-carousel p-4" data-aos="fade-down" data-aos-delay="600">
            <div class="carousel pb-4"
                data-flickity='{ "draggable": true }'>
                {% for item in seasonal_items %}
                <div class="carousel-cell rounded-0">
                    <div class="card index-card plants">
                        {% if item.image.url %}
                        <img class="card-img-top index-img" src="{{ item.image.url }}" alt="Image of {{ item.name }}">
                        {% else %}
                        <img class="card-img-top index-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                        {% endif %}
                        <div class="card-body item-card">
                            <h5 class="card-title fw-bold fs-4 text-truncate">{{ item.friendly_name }}</h5>
                            <p class="fw-bold">£{{ item.price }}</p>
                            <a href="{% url 'item_page' item.id %}" class="btn view-item p-3 rounded-0 w-100">View item</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include 'includes/discount.html' %}
<div class="container-fluid testimonials">
    <div class="row" data-aos="fade-up" data-aos-delay="600">
        <div class="col-12 testimonials-text p-5 d-flex flex-column">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-center p-2">What our customers say...</h1>
            </div>
            <div class="col-12 testimonials-carousel p-4 d-flex justify-content-center align-items-center">
                [testimonials carousel]
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="800">
        <div class="col-12 p-4 d-flex justify-content-center">
            <a href="{% url 'all_reviews' %}" class="btn see-reviews p-3 rounded-0 px-5 fw-bold">See all reviews</a>
        </div>
    </div>
</div>
{% endblock %}