{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% load mathfilters %}

{% block extra_title %}| Your Account {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container profile p-5 mt-5">
    <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-lg-4">
            <!--User info-->
            <div class="row d-flex flex-column user-info px-3 py-5">
                <div class="col mb-5">
                    <h5 class="fw-bold text-center">My profile</h5>
                </div>
                <div class="col mb-2">
                    <p class="fw-bold mb-0">Name</p>
                    <p>{{ profile|title }}</p>
                </div>
                <div class="col mb-2">
                    <p class="fw-bold mb-0">Phone number</p>
                    {% if phone_number %}
                    <p>{{ phone_number }}</p>
                    {% else %}
                    <p class="small">None provided</p>
                    {% endif %}
                </div>
                <div class="col mb-2">
                    <p class="fw-bold mb-0">Delivery address</p>
                    {% if line1 %}
                    <p class="mb-0">{{ line1 }}</p>
                    {% else %}
                    {% endif %}
                    {% if line2 %}
                    <p class="mb-0">{{ line2 }}</p>
                    {% else %}
                    {% endif %}
                    {% if town %}
                    <p class="mb-0">{{ town }}</p>
                    {% else %}
                    {% endif %}
                    {% if postcode %}
                    <p class="mb-0">{{ postcode }}</p>
                    {% else %}
                    {% endif %}
                    {% if country %}
                    <p>{{ country }}</p>
                    {% else %}
                    <p class="small">None provided</p>
                    {% endif %}
                </div>
                <div class="col mt-4 d-flex">
                    <a href="#infoModal" class="modal-toggle btn mx-auto p-3 edit-profile rounded-0 w-100" data-bs-toggle="modal" data-bs-target="#infoModal">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-7 d-flex user-other-info">
            <div class="row w-100 d-flex flex-column justify-content-between">
                <!--Orders-->
                <div class="col-12 p-4 orders mb-2">
                    <h5 class="fw-bold">My orders</h5>
                    <div class="p-3 flex flex-row text-center mt-4 orders-list">
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless mb-0">
                                <thead>
                                    <tr>
                                        <th>Order number</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                        <th>Order total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if orders %}
                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                                    <p class="small">{{ order.order_number|truncatechars:8 }}</p>
                                                </a>
                                            </td>
                                            <td>
                                                <p class="small">{{ order.date }}</p>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled">
                                                {% for item in order.lineitems.all %}
                                                    <li>
                                                        <p class="small">{{ item.product.name }} x{{ item.quantity }}</p>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </td>
                                            <td>
                                                <p class="small">£{{ order.grand_total }}</p>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>
                                                <p class="small mb-0 p-4">No orders</p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 p-4 account-settings">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 d-flex">
                            <a href="#updateAccount" class="mx-auto btn p-3 modal-toggle edit-profile rounded-0" data-bs-toggle="modal" data-bs-target="#updateAccount">Update account</a>
                        </div>
                        <div class="col-sm-12 col-lg-6 d-flex">
                            <a href="#deleteAccount" class="mx-auto btn p-3 text-danger modal-toggle rounded-0" data-bs-toggle="modal" data-bs-target="#deleteAccount">Delete my account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal details-modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="infoModalLabel">Edit your profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-4">
            <form class="m-auto" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn update-profile-details">Update</button>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}