{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% load mathfilters %}

{% block extra_title %}| Checkout {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container checkout" id="checkout-container">
    <div class="row">
        <div class="col checkout-title">
            <h1 class="text-center">Checkout</h1>
            <p class="text-center">Please fill out the details below to complete your order</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3">
            <p class="section-header fs-5 p-3 mb-0">Your order...</p>
        </div>
        <div class="col-sm-12 col-lg-6 p-3 pb-5 order-sm-1 order-lg-0 payment-form-wrapper">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="payment-form my-auto">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small w-auto fw-bold fs-5">Contact details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small w-auto fw-bold fs-5">Delivery address</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0 p-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save my information</label>
                            <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a href="" class="d-block mb-1 text-decoration-none small"><i class="fas fa-user-plus fa-sm"></i> Create an account</a>
                                <a href="" class="text-decoration-none small"><i class="fas fa-sign-in-alt fa-sm"></i> Login to save my information</a>
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small w-auto fw-bold fs-5">Payment information</legend>
                    <div id="card-element"></div>
                    <div class="text-danger mt-3" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="submit-button text-center">
                    <a href="{% url 'view_bag' %}" class="btn rounded-0 p-3">
                        Adjust bag
                    </a>
                    <button id="submit-button" class="btn rounded-0 p-3">
                        Complete order
                        <i class="fas fa-lock fa-lg pl-3"></i>
                    </button>
                    <p class="small text-danger mt-3">
                        <i class="fas fa-exclamation-circle"></i>
                        Your card will be charged <span class="fw-bold">£{{ grand_total | floatformat:2 }}</span>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-lg-6 p-4 pb-5 order-sm-0 order-lg-1">
            <div class="card w-auto mx-auto mt-4 p-3 text-center order-summary-checkout rounded-0">
                <div class="card-body">
                  <h1 class="card-title fs-2">Order summary</h1>
                  <div class="d-flex justify-content-between mt-4">
                      <p class="fw-bold">Items ({{ product_count }})</p>
                      <p class="fw-bold">Total</p>
                  </div>
                  {% for item in bag_items %}
                  <div class="d-flex justify-content-between mb-4">
                        <div class="row w-100">
                            <div class="col-3 pl-0 d-flex justify-content-start order-summary-img">
                                {% if item.product.is_on_sale %}
                                <div class="position-absolute discount-price-wrapper-co">
                                    <div class="discount-price-co d-flex flex-column p-2">
                                        {% with sale_discount=item.product.price|sub:item.product.sale_price %}
                                        <p class="fw-bold my-auto mx-auto text-center">{{ sale_discount|div:item.product.price|mul:100|floatformat:0 }}% off!</p>
                                        {% endwith %}
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                <img src="{{ item.product.image.url }}" class="img-fluid rounded" height=120 width=90>
                            </div>
                            <div class="col text-start">
                                <a href="{% url 'item_page' item.product.id %}" target="_self" class="text-decoration-none">
                                    <p class="my-1 fw-bold">{{ item.product.friendly_name }}</p>
                                </a>
                                <p class="my-1">{{ item.product.height }}</p>
                                <p class="mt-1">Qty: {{ item.quantity }}</p>
                            </div>
                        </div>
                        {% if item.product.is_on_sale %}
                        <p>£{{ item.product.sale_price | calc_subtotal:item.quantity }}</p>
                        {% else %}
                        <p>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        {% endif %}
                    </div>
                  {% endfor %}
                  <div class="d-flex justify-content-between mt-2 total-checkout pt-3">
                    <p class="my-0">Subtotal: </p>
                    <p class="mb-1">£{{ total | floatformat:2 }}</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="my-0">Delivery: </p>
                    <p class="mb-1">£{{ delivery|floatformat:2 }}</p>
                  </div>
                  <div class="d-flex justify-content-between">
                    <p class="my-0">Total to pay:</p>
                    <p class="mb-1 fw-bold">£{{ grand_total | floatformat:2 }}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading-overlay" id="loading-overlay">
    <div class="loading-icon">
        <img src="/media/delivery-loading.png" alt="Plant in box" height=200 width=200>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script type="text/javascript" src="{% static '/js/stripe_elements.js' %}"></script>
{% endblock %}