.allauth-form-container {
    height: 100vh;
    font-family: var(--body-text);
    color: var(--black);
}

.allauth-form-inner-content {
    width: 100%;
}

.allauth-form-container h1 {
    font-family: var(--header);
}

.allauth-form-container a {
    color: var(--black);
}

.log-in-form {
    background: linear-gradient(-112deg, var(--white) 50%, var(--beige) 50%);
}

.details-modal input,
.details-modal select,
.allauth-form-container input
.profile-input {
    background-color: var(--white) !important;
    border-radius: 0 !important;
    border: 1px solid var(--beige);
    margin-top: 10px;
}

.allauth-form-container label {
    margin-top: 10px;
}

.allauth-form-container .form-check {
    margin: 10px 0;
}

.allauth-form-container button,
.update-profile-details {
    border: var(--black) solid 2px !important;
    border-radius: 0 !important;
    transition: all 0.1s ease-in-out !important;
    color: var(--black) !important;
    font-weight: 700 !important;
    background-color: transparent;
    padding: 1rem !important;
    margin-top: 20px;
    width: 100%;

}

.allauth-form-container button:hover,
.update-profile-details:hover {
    background-color: var(--black);
    color: var(--white) !important;
}

.allauth-form-container input:focus {
    outline: none;
    border: 1px solid var(--beige);
    box-shadow: 0 5px 10px rgba(0,0,0,.1), 0 5px 5px rgba(0,0,0,.1);
}

.allauth-form-container input::placeholder,
.details-modal input::placeholder {
    opacity: 0.5;
}

.details-modal {
    font-family: var(--body-text);
}