/*----------------- [General] -----------------*/

html {
    height: 100%;
    color: var(--black);
}

.header-container {
    padding-top: 70.6px;
    background-color: var(--black);
}

body {
    height: calc(100vh - 70.3px);
    overflow-x: hidden;
}

/*----------------- [Toasts] -----------------*/

.message-container {
    display: flex;
    justify-content: end;
    position: fixed;
    top: 80px;
    right: 15px;
    z-index: 9999999999;
}

.toast {
    font-family: var(--body-text);
    color: var(--white);
    background-color: var(--black);
    max-width: 95% !important;
}

.toast-header {
    background-color: var(--black);
    color: var(--white);
}

.toast-header .btn-close {
    margin-left: auto;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white) !important;
}

.capper-success {
    background-color: var(--green);
}

.capper-error {
    background-color: var(--red);
}

.capper-info {
    background-color: var(--beige);
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 7px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 23px;
}

.arrow-error {
    border-bottom-color: var(--red) !important;
}

.arrow-info {
    border-bottom-color: var(--beige) !important;
}

.arrow-warning {
    border-bottom-color: #FFC118 !important;
}

.arrow-success {
    border-bottom-color: var(--green) !important;
}

.bag-notification-wrapper {
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*----------------- [Navigation] -----------------*/

.navbar-container {
    background-color: var(--black);
}

.navbar {
    padding: 0;
}

.navbar-brand {
    color: var(--white);
    font-weight: 500;
    letter-spacing: 2px;
    font-family: var(--brand);
    margin-right: 0;
}

.navbar-brand:hover {
    color: var(--white);
}

.nav-link i,
.fa-search {
    color: var(--white) !important;
}

.menu-nav-container {
    background-color: var(--black);
    backdrop-filter: blur(7px);
    font-family: var(--body-text);
    box-shadow: 0 5px 10px rgba(0,0,0,.1), 0 5px 5px rgba(0,0,0,.1);
}

.menu-nav {
    height: 50px;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
}

.menu-nav-link {
    color: var(--white);
    transition: all 0.1s ease-in-out;
    letter-spacing: 1px;
}

.menu-nav-link:hover {
    color: var(--green);
}

.menu-search {
    border: 0;
    background-color: var(--black);
    color: var(--white);
}

.menu-search:focus {
    background-color: var(--black);
    color: var(--white);
}

.form-control::placeholder {
    font-family: var(--body-text);
    font-size: 0.9em;
    color: var(--black);
}

.rounded-pill {
    background-color: var(--beige);
    color: var(--black);
    font-family: var(--body-text);
    font-size: 0.7em;
}

.toggle-icon {
    color: var(--white);
    animation: wiggle 3s infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.mobile-icon {
    color: var(--white) !important;
}

.mobile-nav {
    margin-bottom: 0;
    padding-left: 0 !important;
}

.mobile-nav .nav-link {
    color: var(--black);
}

.base-dropdown {
    background-color: var(--green);
    font-family: var(--body-text);
}

.dropdown-toggle::after {
    display: none;
}

/*----------------- [Discount banner] -----------------*/

.discount-banner {
    background-color: var(--beige);
    font-family: var(--brand);
    color: var(--white);
}

.discount-banner h1 {
    margin: 0;
}

.discount-banner img {
    margin-left: 20px;
}

/*----------------- [Footer] -----------------*/

footer {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--body-text);
    z-index: 10;
}

footer p,
footer h1,
footer ul {
    filter: brightness(150%);
}

.footer ul {
    font-size: 0.8em;
}

.footer ul a {
    color: var(--grey);
}

.footer ul i {
    margin-right: 10px;
}

.social-media-icon i {
    color: var(--green);
    transition: all 0.1s ease-in-out;
}

.social-media-icon i:hover {
    color: var(--white);
    transform: scale(1.2);
}

/*----------------- [Errors] -----------------*/
.error-container {
    font-family: var(--body-text);
    color: var(--black);
}