/*----------------- [Checkout] -----------------*/

.checkout-title p {
    font-family: var(--body-text);
}

.payment-form fieldset {
    font-family: var(--body-text);
}

.payment-form legend {
    font-family: var(--header);
}

.payment-form input {
    margin-bottom: 15px;
    padding: 0.5em;
    border: 1px solid var(--beige);
    border-radius: 0;
}

.payment-form input:focus {
    outline: none;
    border: 1px solid var(--beige);
    box-shadow: 0 0.3rem 0.3rem var(--beige);
}

.form-check-label i {
    margin-right: 5px;
    color: var(--green);
}

.form-check-label a {
    color: var(--black);
}

.form-check-label a:hover {
    font-weight: 700;
}

.order-summary-checkout {
    border: 1px solid var(--beige);
    background: linear-gradient(-112deg, var(--white) 50%, var(--beige) 50%);
}

.order-summary-checkout:hover {
    box-shadow: none;
}

.order-summary-checkout .card-body p {
    font-family: var(--body-text);
}

.total-checkout {
    border-top: 2px solid var(--green);
}

.delivery-estimate-payment-options {
    color: var(--black);
    font-family: var(--body-text);
}

.submit-button button,
.submit-button a {
    border: var(--black) solid 2px;
    border-radius: none;
    transition: all 0.1s ease-in-out;
    color: var(--black);
    font-weight: 700;
    width: 200px !important;
}

.submit-button button:hover,
.submit-button a:hover {
    background-color: var(--black);
    color: var(--white);
}

.StripeElement,
.stripe-style-input {
    padding: 0.7em;
    border: 1px solid var(--beige);
    border-radius: 0;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 300ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 0.3rem 0.3rem var(--beige);
}

.stripe-style-input::placeholder {
    opacity: 0.5 !important;
}

.discount-price-wrapper-co {
    margin: -10px 0 0 -10px;
}

.discount-price-co {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--brown);
    color: var(--white);
    font-family: var(--header);
    font-size: 0.5em;
}

/*----------------- [Checkout success] -----------------*/

.order-success {
    margin-top: 100px;
    font-family: var(--body-text);
    display: flex;
    flex-direction: column;
}

.order-checkout-confirmation h1 {
    font-family: var(--brand);
    color: var(--green);
}

.order-success {
    font-size: 0.8em;
}

.success-overlay {
    min-height: 550px;
    max-height: 600px;
    max-width: 75%;
    min-width: 70%;
    position: absolute;
}

.order-checkout-details {
    border: 1px solid var(--beige);
    width: 80%;
    background: linear-gradient(112deg, var(--white) 50%, var(--green-t) 50%);
}

.order-checkout-details h1 {
    font-family: var(--header);
    font-size: 1.6em;
    color: var(--beige);
}

.order-checkout-details p {
    color: var(--black);
}

.back-to-shop {
    border: var(--beige) solid 2px;
    transition: all 0.1s ease-in-out;
    color: var(--black);
    font-weight: 700;
}

.back-to-shop:hover {
    color: var(--white) !important;
    background-color: var(--beige);
}

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--green-t);
}

/* https://css-tricks.com/making-css-animations-feel-natural/ */
.loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    animation: bounce 1.5s infinite cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {

    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-50px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }

}

