.checkout-title p {
    font-family: var(--body-text);
}

.payment-form fieldset {
    font-family: var(--body-text);
}

.payment-form legend {
    font-family: var(--header);
}

.payment-form input {
    margin-bottom: 15px;
    padding: 0.5em;
    border: 1px solid var(--beige);
    border-radius: 0;
}

.payment-form input:focus {
    outline: none;
    border: 1px solid var(--beige);
    box-shadow: 0 0.3rem 0.3rem var(--beige);
}

.form-check-label i {
    margin-right: 5px;
    color: var(--green);
}

.form-check-label a {
    color: var(--black);
}

.form-check-label a:hover {
    font-weight: 700;
}

.order-summary-checkout {
    border: 1px solid var(--beige);
    background: linear-gradient(-112deg, var(--white) 50%, var(--beige) 50%);
}

.order-summary-checkout:hover {
    box-shadow: none;
}

.order-summary-checkout .card-body p {
    font-family: var(--body-text);
}

.total-checkout {
    border-top: 2px solid var(--green);
}

.delivery-estimate-payment-options {
    color: var(--black);
    font-family: var(--body-text);
}

.submit-button button,
.submit-button a {
    border: var(--black) solid 2px;
    border-radius: none;
    transition: all 0.1s ease-in-out;
    color: var(--black);
    font-weight: 700;
    width: 200px !important;
}

.submit-button button:hover,
.submit-button a:hover {
    background-color: var(--black);
    color: var(--white);
}

.StripeElement,
.stripe-style-input {
    padding: 0.7em;
    border: 1px solid var(--beige);
    border-radius: 0;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 300ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 0.3rem 0.3rem var(--beige);
}

.stripe-style-input::placeholder {
    opacity: 0.5 !important;
}

.discount-price-wrapper-co {
    margin: -10px 0 0 -10px;
}

.discount-price-co {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--brown);
    color: var(--white);
    font-family: var(--header);
    font-size: 0.5em;
}

.order-success {
    margin-top: 100px;
    font-family: var(--body-text);
}

.order-success h1 {
    font-family: var(--brand);
    color: var(--green);
}

