@media only screen and (max-width: 300px) {

    .mobile-nav-wrapper {
        width: 100% !important;
    }

    .mobile-nav {
        justify-content: space-evenly !important;
    }

    .list-inline-item {
        margin: 0 !important
    }

}


@media only screen and (max-width: 322px) {

    .discount-banner img {
        margin-right: 20px;
    }
    
}

@media only screen and (max-width: 375px) {

    .everyone-text h1 {
        margin-bottom: 20px !important;
    }

    .everyone-text-container {
        margin-bottom: 20px;
    }

    .why-text {
        width: 100%;
    }

    .go-to-checkout {
        width: 100%;
    }

    .blogs-container {
        padding: 1.1rem !important;
    }
    
}


@media only screen and (max-width: 425px) {

    .carousel-cell {
        width: 100%;
    }

    .blog-form button {
        width: 100% !important;
    }

}


@media only screen and (min-width: 426px) {

    .carousel-cell {
        width: 75%;
    }

}


@media only screen and (max-width: 576px) {

    .success-overlay img {
        height: 125px !important;
        width: 125px !important;
    }

    .success-overlay {
        min-height: 800px;
        max-height: 850px;
        max-width: 75% !important;
        min-width: 70% !important;
    }

    .reset-password,
    .delete-account {
        margin: 5px;
        width: 100%;
    }

    .login-container {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

}


@media only screen and (min-width: 576px) {

    .carousel-cell {
        width: 45%;
    }

}


@media only screen and (max-width: 576px) {

    .hero-left-text {
        max-width: 80%;
        font-size: 0.8em;
    }

    .footer-bottom p {
        text-align: center;
        margin-bottom: 5px;
    }

    .footer-bottom p {
        font-size: 0.6em;
    }

    .footer-bottom-container {
        margin: 0;
    }

    .payment-form-wrapper {
        order: 1;
    }

    .submit-button a {
        margin-bottom: 16px;
    }

    .submit-button a,
    .submit-button button {
        width: 90% !important;
    }

    .delivery-estimates-payment-options {
        order: 1 !important;
    }

    .order-summary-img {
        width: 100px !important;
    }

    .back-to-shop {
        margin-top: 80px !important;
    }

}


@media only screen and (max-width: 767px) {

    .hero-container {
        background: none;
    }

    .hero-brand {
        z-index: 100;
        color: var(--white) !important;
        width: 100%;
        padding-bottom: 50px;
        bottom: 0;
    }
    
    .hero-left {
        background-color: var(--green-t);
        height: auto !important;
        padding: 2em;
    }

    .hero-left h1 {
        text-align: center;
    }

    .hero-left-text {
        padding-top: 20px;
    }

    .hero-right {
        background: url(../images/header.jpg) no-repeat center;
        background-size: cover;
    }

    .item-info {
        margin-top: 0;
    }

    .everyone-image {
        height: 100vh !important;
    }

    .everyone-text {
        height: auto !important;
    }

    .everyone-text h1 {
        margin-bottom: 40px;
    }

    .everyone-text p, 
    .everyone-text ul {
        font-size: 0.8em;
    }

    .seasonal-text {
        background-position: 10% 10%;
        background-size: 200px 200px;
    }

    .delivery-estimates-payment-options,
    .subtotals {
        width: 100%;
        text-align: center !important;
        margin-top: 40px;
    }

    .subtotals button,
    .subtotals a {
        width: 100%;
    }

    .faqs {
        width: 95% !important;
    }

    .success-overlay {
        min-height: 700px;
        max-height: 750px;
        max-width: 70%;
        min-width: 65%;
    }

    .success-overlay img {
        height: 165px;
        width: 165px;
    }

    .item-about-left {
        height: 50vh;
    }

    .blog-info {
        padding: 16px 10px !important;
    }

}


@media only screen and (max-width: 991px) {

    .navbar-toggler {
        float: left;
        padding: 0.5em;
    }

    .navbar-brand-container {
        display: flex;
        justify-content: center;
    }

    .menu-bar-item {
        width: 100% !important;
        padding: 0.3em;
    }

    .menu-nav-container {
        box-shadow: 0 5px 10px rgba(0,0,0,.1), 0 5px 5px rgba(0,0,0,.1);
    }

    .menu-nav-link {
        text-align: start;
        font-weight: 700;
    }

    .nav-item {
        width: 100%;
    }

    .header-container {
        padding-top: 0;
    }

    .navbar-toggler {
        float: left;
        padding: 0.5em;
    }

    .navbar-brand-container {
        display: flex;
        justify-content: center;
    }

    .menu-bar-item {
        width: 100% !important;
        padding: 0.3em;
    }

    .hero-brand {
        z-index: 100;
        color: var(--white) !important;
    }

    .social-media-container {
        margin: 40px 0;
    }

    .everyone-text {
        padding: 4.5em !important;
        height: auto !important;
    }

    .everyone-text-container {
        padding: 0 !important;
    }

    .plant-need-filters {
        margin-top: 30px;
    }

    .faqs {
        width: 80%;
    }

    .user-other-info {
        margin-top: 30px;
        padding: 0;
        justify-content: center;
    }

    .dropdown-toggle::before {
        display: none !important;
    }

    .allauth-form-container {
        padding: 0 !important;
    }

    .overlay-wrapper {
        position: absolute !important;
    }

    .blog-page-intro {
        width: 100% !important;
    }

    .profile {
        height: 100vh !important;
    }

    .contact-container {
        height: auto !important;
    }

}


@media only screen and (min-width: 991px) {

    .hero-left-text {
        width: 70%;
    }

    .carousel-cell {
        width: 33% !important;
    }

    .item-page-cell {
        width: 25% !important;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1050px) {

    .hero-left-text {
        max-width: 75%;
        font-size: 0.8em;
    }

}
