.profile {
    font-family: var(--body-text);
    color: var(--black);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile h5 {
    font-family: var(--header);
}

.edit-profile, .shop-for-items {
    border: var(--black) solid 2px;
    border-radius: none;
    transition: all 0.1s ease-in-out;
    color: var(--black);
    font-weight: 700;
}

.edit-profile:hover, .shop-for-items:hover {
    background-color: var(--black);
    color: var(--white);
}

.user-info,
.orders {
    border: 2px solid var(--green-t);
    height: auto;
}

.orders-list {
    overflow-y: auto;
    background-color: var(--green);
    max-height: 80%;
    min-height: 80%;
}

.orders-list th {
    vertical-align: middle;
}