.profile {
    font-family: var(--body-text);
    color: var(--black);
    height: 100vh;
}

.profile h5 {
    font-family: var(--header);
}

.edit-profile {
    border: var(--black) solid 2px;
    border-radius: none;
    transition: all 0.1s ease-in-out;
    color: var(--black);
    font-weight: 700;
}

.edit-profile:hover {
    background-color: var(--black);
    color: var(--white);
}

.user-info,
.orders {
    border: 2px solid var(--green-t);
    height: auto;
}

.orders-list {
    overflow-y: auto;
    background-color: var(--green);
    max-height: 300px;
}

.orders-list th {
    vertical-align: middle;
}