/*----------------- [Browse products] -----------------*/

.shop-container {
    height: auto;
    background-color: var(--white);
}

.shop-title {
    margin-top: 90px;
}

.shop-title,
.item-title {
    font-family: var(--header);
    color: var(--black);
}

.item-card {
    color: var(--black);
    background: linear-gradient(112deg, var(--white) 60%, var(--green) 40%);
    font-family: var(--body-text);
}

.card:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.shop-item-img {
    height: 400px;
}

.card a {
    color: var(--black);
    font-weight: 500;
}

.card a i {
    margin-right: 5px;
}

.card-body h6 {
    font-family: var(--header);
}

.card-footer {
    font-family: var(--body-text);
}

/*----------------- [Search filters] -----------------*/

.search-filters,
.sort-filter {
    color: var(--black);
    background-color: var(--green-t);
    font-family: var(--body-text);
}

.search-filters h6 {
    font-family: var(--header);
}

.dropdown-toggle::after {
    float: right;
    margin-top: 0.5em;
}

.collection-toggle {
    background-color: var(--white);
}

button:focus:not(:focus-visible) {
    outline: solid 3px var(--green);
    box-shadow: none;
}

.collection-toggle:focus {
    outline: 3px solid var(--black);
}

.collection-option:hover,
.collection-option:focus,
.sort-option:hover,
.sort-option:focus {
    background-color: var(--beige);
}

.form-check-input:focus {
    border-color: var(--brown);
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: var(--beige);
    border-color: var(--beige);
}

.to-top-button {
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    background-color: var(--brown);
    border-radius: 50%;
}

.to-top-link {
    color: var(--white);
    cursor: pointer;
}

.to-top-link:hover {
    color: var(--white);
}

.underline {
    border-top: 2px solid var(--green);
    width: 100px;
}

/*----------------- [Item page] -----------------*/

.item-left {
    height: auto;
}

.item-right {
    height: 100vh;
}

.item-left {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--body-text);
}

.item-left h1 {
    font-family: var(--header);
    font-weight: 700;
}

.item-left a {
    color: var(--white);
}

.item-left a i,
.plant-needs-container {
    margin-right: 5px;
}

.item-info {
    width: 80%;
    margin-top: 40px;
}

.item-left-links a {
    border: 2px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-left-links a i {
    color: var(--green);
    margin-left: auto;
}

.add-to-bag button {
    background-color: transparent;
    border: 2px solid var(--black);
    color: var(--black);
    transition: all 0.1s ease-in-out;
}

.add-to-bag button:hover {
    background-color: var(--black);
    color: var(--white);
}

.plant-needs {
    background-color: var(--white);
    color: var(--black);
}

.plant-needs h1,
.top-tip-title {
    font-family: var(--header);
    font-weight: 700;
}

.plant-needs-container {
    padding-left: 0;
}

.top-tip-content,
.lightbulb {
    color: var(--black);
    background-color: var(--green);
}
