:root {
    --black: #313232;
    --black-t: rgba(19, 20, 20, 0.85);
    --brown: #937661;
    --beige: rgb(179,177,178);
    --green: rgb(117,140,122);
    --green-t: rgba(117,140,122,0.85);
    --white: #FEFEFE;
    --red: #CC0000;
    --header: 'Prata', serif;
    --body-text: 'Be Vietnam Pro', sans-serif;
    --brand: 'Pacifico', cursive;
}