{% extends 'base.html' %}
{% load static %}

{% block extra_title %}| Blog & Plant Care {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center flex-column blogs-container p-5">
    <div class="row w-100 d-flex flex-column align-items-center">
        <h1 class="blog-page-title px-5 pt-5 pb-3 text-center fw-bold">
            Plant care club
        </h1>
        <p class="fs-5 w-50 blog-page-intro">Calling all plant parents! Whether you are new to the game or a 
        greenfingered veteran, it's always good to connect with others that share your 
        passion for plant-keeping. You can see our blogs below that provide information and
        inspiration to all plant-lovers. We're sure you'll find it them very handy!</p>
        <img src="{% static 'images/calathea.png' %}" height="70" width="70" class="my-3 w-auto">
    </div>
    {% if posts %}
        {% for post in posts %}
        <div class="row w-100 d-flex flex-row mb-4 mt-5 blog">
            <div class="col-sm-12 col-md-6 col-lg-4 p-0">
                {% if post.image.url %}
                <img src="{{ post.image.url }}" class="card-img-top blog-image">
                {% else %}
                <img src="{{ MEDIA_ROOT }}noimage.png" class="card=img-top blog-image">
                {% endif %}
            </div>
            <div class="col d-flex flex-column blog-info p-0">
                <h1 class="fs-3 fw-bold">{{ post.title }}</h1>
                <p class="small date-added">{{ post.date_added | date:"d M-Y | h:i" }}</p>
                <p class="text-truncate"><span class="quote-marks">"</span>{{  post.intro }}<span class="quote-marks">"</span></p>
                <div class="d-flex align-items-end mt-auto px-2 py-3">
                    <a href="{% url 'blog_page' post.slug %}" class="blog-btn fw-bold">Read more >></a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <p class="text-center">No posts yet!</p>
    {% endif %}
    <img src="{% static 'images/calathea.png' %}" height=70 width=70 class="mt-3">
</div>
{% endblock %}