{% extends 'base.html' %}
{% load static %}

{% block extra_title %}| Blog & Plant Care {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center blogs-container">
    {% for post in posts %}
        {{ post.title }}
        {{ post.date_added }}
        {{ post.intro }}
        <a href="{% url 'blog_page' post.slug %}">Read more</a>
    {% endfor %}
</div>
{% endblock %}