{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_title %}| Read: {{ post.title }} {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center blogs-container flex-column p-5">
    
    <div class="container my-5 blog-body ">
        <div class="container">
            <img src="{{ post.image.url }}" class="blog-image-main img-fluid">
            <div class="row">
                <div class="col-12 d-flex flex-column">
                    <h1 class="pt-3 mb-1 blog-body-title fw-bold">
                        {{ post.title }}
                    </h1>
                    <p class="date-added">
                        {{ post.date_added }}
                    </p>
                    <a href="{% url 'blog' %}" target="_self" class="blog-btn pb-3 fw-bold">
                        Back to blogs
                    </a>
                </div>
                <div class="col-12 py-3">
                    <p>
                        {{ post.body }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="container pb-5">
            <div class="row">
                <div class="col py-4">
                    <h1 class="comments-title fs-4 fw-bold">Comments</h1>
                </div>
            </div>
            {% if post.comments.all %}
                {% for comment in post.comments.all %}
                <div class="row">
                    <div class="col-12 comment-name">
                        <p class="fw-bold fs-5 mb-0">{{ comment.user_profile.user.username }}</p>
                        <p class="small">{{ comment.date_added }}</p>
                    </div>
                    <div class="col-12 mb-3">
                        <p class="small comment-body">{{ comment.comment }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <p>No comments yet</p>
            {% endif %}
            <hr class="blog-hr">
        </div>
    </div>
    <div class="container pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <p class="fw-bold">Add comment</p>
                </div>
                <div class="col-12">
                    <form method="POST" action="{% url 'blog_page' post.slug %}" class="blog-form">
                        {% csrf_token %}
                
                        {{ form.as_p }}
                        <button type="submit" class="p-3 w-25 mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}