<div class="collapse navbar-collapse" id="menu-nav">
    <ul class="navbar-nav w-100 d-flex justify-content-center">
        <li class="nav-item text-center menu-bar-item px-4" style="width: auto">
            <a class="nav-link menu-nav-link" href="{% url 'home' %}" id="plant-items" target="_self">Home</a>
        </li>
        <li class="nav-item text-center menu-bar-item px-4" style="width: auto">
            <a class="nav-link menu-nav-link" href="{% url 'shop' %}" id="plant-items" target="_self">Shop</a>
        </li>
        <li class="nav-item text-center menu-bar-item px-4" style="width: auto">
            <a class="nav-link menu-nav-link" href="" id="blog-item">Plant care</a>
        </li>
        <li class="nav-item text-center menu-bar-item px-4" style="width: auto">
            <a class="nav-link menu-nav-link" href="" id="blog-item">About us</a>
        </li>
        <li class="nav-item text-center menu-bar-item px-4" style="width: auto">
            <a class="nav-link menu-nav-link text-uppercase" href="{% url 'shop' %}?is_on_sale=True" id="blog-item" target="_self">Sale</a>
        </li>
    </ul>
</div>