<div class="collapse navbar-collapse" id="menu-nav">
    <ul class="navbar-nav w-100 mx-auto">
        <li class="nav-item text-center menu-bar-item" style="width: 25%">
            <a class="nav-link menu-nav-link" href="" id="plant-items" target="_self">Shop</a>
        </li>
        <li class="nav-item text-center menu-bar-item" style="width: 25%">
            <a class="nav-link menu-nav-link" href="" id="gift-items" target="_self">Gift vouchers</a>
        </li>
        <li class="nav-item text-center menu-bar-item" style="width: 25%">
            <a class="nav-link menu-nav-link" href="" id="blog-item">Inspire me</a>
        </li>
        <li class="nav-item text-center menu-bar-item" style="width: 25%">
            <a class="nav-link menu-nav-link text-uppercase" href="" id="blog-item" target="_self">Sale</a>
        </li>
    </ul>
</div>