<div class="offcanvas offcanvas-end shopping-bag" tabindex="-1" id="shopping-bag" aria-labelledby="shopping-bag">
    <div class="offcanvas-header h">
      <button type="button" class="btn-close text-reset shopping-bag-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
      {% if bag_items %}
      <a href="{% url 'view_bag' %}">View bag</a>
      {% else %}
      <div class="container d-flex flex-column">
        <img src="/media/wallet.png" height=150 width=150 class="my-auto mx-auto">
        <p class="mt-3 text-center fw-bold bag-empty fs-4">Nothing here yet!</p>
        <button type="button" class="btn text-reset shopping-bag-close close-bag p-3 rounded-0 mt-4" data-bs-dismiss="offcanvas">Continue shopping</button>
      </div>
      {% endif %}
    </div>
</div>