{% load bag_tools %}
{% load mathfilters %}

<div class="offcanvas offcanvas-end shopping-bag" tabindex="-1" id="shopping-bag" aria-labelledby="shopping-bag">
    <div class="offcanvas-header h">
      <button type="button" class="btn-close text-reset shopping-bag-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center shopping-bag-body">
      {% if bag_items %}
      <h1 class="fs-5 fw-bold mb-2">Your bag contains:</h1>
      <div class="col-12 pb-3 px-3 shopping-bag-height">
        <div class="table-responsive rounded">
            <table class="table table-sm table-borderless order-summary">
                {% for item in bag_items %}
                    <tr class="order-summary-body">
                        <td class="pr-3 bag-item-img-row">
                            {% if item.product.is_on_sale %}
                                <div class="position-absolute discount-price-wrapper-sb">
                                    <div class="discount-price-sb d-flex flex-column p-2">
                                        {% with sale_discount=item.product.price|sub:item.product.sale_price %}
                                        <p class="fw-bold my-auto mx-auto text-center small">{{ sale_discount|div:item.product.price|mul:100|floatformat:0 }}% off!</p>
                                        {% endwith %}
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                            {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid rounded-2 bag-item-img">
                            {% else %}
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" class="img-fluid rounded-2 bag-item-img">
                            {% endif %}
                        </td>
                        <td class="px-3">
                            <p class="mt-0 mb-0 fw-bold">
                                {{ item.product.friendly_name }}
                            </p>
                            {% if item.product.size %}
                            <p class="my-2 text-uppercase text-muted">
                                {{ item.product.size }}
                            </p>
                            {% else %}
                                {% if item.product.height %}
                                <p class="my-2 text-uppercase text-muted">
                                    {{ item.product.height }}
                                </p>
                                {% endif %}
                            {% endif %}
                            <p class="my-2">
                                {% if item.product.is_on_sale %}
                                    £{{ item.product.sale_price | calc_subtotal:item.quantity }}
                                {% else %}
                                    £{{ item.product.price | calc_subtotal:item.quantity }}
                                {% endif %}
                            </p>
                            <p class="mt-0 mb-0">
                                Qty: {{ item.quantity }}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
        <p class="fs-5 mt-3 mb-0 bag-total">Total: <span class="fw-bold fs-3">£{{ total|floatformat:2 }}</span></p>
        {% if free_delivery_delta > 0 %}
        <p class="small text-muted ed">Delivery calculated at checkout</p>
        {% else %}
        <p class="small text-muted ed">Delivery: FREE</p>
        {% endif %}
        <a href="{% url 'view_bag' %}" class="view-bag-link p-3 text-decoration-none w-75 text-center" target="_self">View bag</a>
        <button type="button" class="btn text-reset shopping-bag-close close-bag p-3 rounded-0 mt-2 w-75" data-bs-dismiss="offcanvas">Continue shopping</button>
        {% else %}
        <div class="container d-flex flex-column">
            <img src="/media/wallet.png" height=150 width=150 class="my-auto mx-auto">
            <p class="mt-3 text-center fw-bold bag-empty fs-4">Nothing here yet!</p>
            <button type="button" class="btn text-reset shopping-bag-close close-bag p-3 rounded-0 mt-4" data-bs-dismiss="offcanvas">Continue shopping</button>
        </div>
      {% endif %}
    </div>
</div>