<div class="container d-none policy-section" id="policies">
    <!--
    <i class="far fa-arrow-alt-circle-left mb-4 fa-2x back-to-about"></i>-->
    <div class="policy-dropdown animted fadeIn animation-delay-1" id="privacyDropdown">
        <h1>Privacy Policy</h1>
        <p>Last updated: December 21, 2021</p>
    </div>
    <div class="policy-dropdown animted fadeIn animation-delay-2" id="returnsDropdown">
        <h1>Return and Refund Policy</h1>
        <p>Last updated: December 21, 2021</p>
    </div>
</div>