<div class="d-none statement-section" id="statements">
    <!--
    <i class="far fa-arrow-alt-circle-left fa-2x back-to-about"></i>-->
    <!---->
    <div class="row overlay-wrapper h-100 w-100 m-0 p-0 position-fixed d-none" id="statementEnvironment">
        <div class="col-12">
            <i class="far fa-arrow-alt-circle-left mb-4 fa-2x back-to-statements px-3 px-3"></i>
            <h1 class="position-absolute px-3 pb-3">Environment</h1>
        </div>
    </div>
    <div class="row overlay-wrapper h-100 w-100 m-0 p-0 position-fixed d-none" id="statementEthics">
        <div class="col-12">
            <i class="far fa-arrow-alt-circle-left mb-4 fa-2x back-to-statements px-3 px-3"></i>
            <h1 class="position-absolute px-3 pb-3">Ethics</h1>
        </div>
    </div>
    <div class="row overlay-wrapper h-100 w-100 m-0 p-0 position-fixed d-none" id="statementEveryone">
        <div class="col-12">
            <i class="far fa-arrow-alt-circle-left mb-4 fa-2x back-to-statements px-3 px-3"></i>
            <h1 class="position-absolute px-3 pb-3">Everyone</h1>
        </div>
    </div>
    <div class="row overlay-wrapper h-100 w-100 m-0 p-0 position-fixed d-none" id="statementEvergreen">
        <div class="col-12">
            <i class="far fa-arrow-alt-circle-left mb-4 fa-2x back-to-statements px-3 px-3"></i>
            <h1 class="position-absolute px-3 pb-3">Evergreen</h1>
        </div>
    </div>
    <!---->
    <div class="row statement-container">
        <div class="col-sm-12 col-md-6 statement-box d-flex justify-content-center align-items-center environment p-0">
            <p class="toggle-statement m-0" id="toggleEnvironment">Environment</p>
        </div>
        <div class="col-sm-12 col-md-6 statement-box d-flex justify-content-center align-items-center ethics p-0 animation-delay-1">
            <p class="toggle-statement m-0" id="toggleEthics">Ethics</p>
        </div>
        <div class="col-sm-12 col-md-6 statement-box d-flex justify-content-center align-items-center everyone p-0 animation-delay-2">
            <p class="toggle-statement m-0" id="toggleEveryone">Everyone</p>
        </div>
        <div class="col-sm-12 col-md-6 statement-box d-flex justify-content-center align-items-center evergreen p-0 animation-delay-3">
            <p class="toggle-statement m-0" id="toggleEvergreen">Evergreen</p>
        </div>
    </div>
</div>