{% extends 'base.html' %}

{% block page_title %} | Login {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container allauth-form-container d-flex px-5 justify-content-center">
  <div class="row w-100">
    <div class="col-sm-12 col-lg-6 px-5 d-flex align-items-center">
      <div class="log-in-form allauth-form-inner-content p-4">
        {% block inner_content %}
        {% endblock %}
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 px-5 d-flex flex-column">
      <img src="/media/house-plants-mob.png" alt="Brand logo plants" height=170 width=170 class="mx-auto mt-auto">
      <p class="navbar-brand mx-auto mb-auto mt-2">Greensleeves</p>
    </div>
  </div>
</div>
{% endblock %}
