{% extends 'base.html' %}
{% load static %}

{% block extra_title %}| {{ product.friendly_name }} {% endblock %}

{% block header_extra %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid shop-container">
    <div class="row">
        <div class="col-sm-12 col-md-6 item-left d-flex justify-content-center align-items-center order-sm-0 order-md-0 order-last py-5">
            <div class="item-info">
                <h1>{{ product.friendly_name }}</h1>
                {% if product.is_in_seasonal_collection %}
                <a href="" target="_self" class="text-decoration-none text-uppercase">
                    <p><i class="fas fa-tag fa-lg"></i> {{ product.seasonal_collection }} collection</p>
                </a>
                {% else %}
                {% endif %}
                {% if product.is_on_sale %}
                <p class="sale-badge mb-0 p-2 text-center d-inline">SALE!</p>
                <p class="fw-bold old-price fs-4 mb-0 d-inline"><s>£{{ product.price }}</s></p>
                <p class="fw-bold fs-4 d-inline sale-price">NOW £{{ product.sale_price }}</p>
                {% else %}
                <p class="mb-1 fs-4">£{{ product.price }}</p>
                {% endif %}
                <p>{{ product.size }}</p>

                {% with product.has_size_choice as s %}
                {% if s %}
                    <div class="col-12 mt-4">
                        <p>Size</p>
                        <select class="form-control rounded-0 w-50" name="product_size" id="id_product_size">
                            <option value="s">Small</option>
                            <option value="m">Medium</option>
                            <option value="l">Large</option>
                        </select>
                    </div>
                {% endif %}
                {% endwith %}
                {% with product.has_weight_choice as w %}
                {% if w %}
                <div class="col-12 mt-4">
                    <p>Weight</p>
                    <select class="form-control rounded-0 w-50" name="product_weight" id="id_product_weight">
                        <option value="5kg">5kg</option>
                        <option value="10kg">10kg</option>
                        <option value="20kg">20kg</option>
                    </select>
                </div>
                {% endif %}
                {% endwith %}
                <form class="form mt-4" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <p>Quantity</p>
                            <div class="form-group">
                                <div class="input-group quantity w-50">
                                    <input class="form-control qty_input rounded-0" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-grid gap-2 item-left-links pb-4 mt-5">
                                <button type="submit" value="Add to bag" class="py-3 px-2 text-center text-decoration-none fw-bold" target="_self">Add to bag<i class="fas fa-cart-plus float-end fa-lg"></i></button>
                                <button type="submit" class="py-3 px-2 text-center text-decoration-none fw-bold" target="_self">Add to wishlist<i class="far fa-heart float-end fa-lg align-text-center"></i></button>
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>

                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 item-right order-md-1 order-first" 
            style="background: url(/media/{{product.image}}) no-repeat top;
            background-size: cover;">
        </div>
    </div>
    {% if product.is_plant %}
    <div class="row plant-needs d-flex flex-column">
        <div class="col text-center mt-5 mb-3">
            <h1>About ~ {{ product.friendly_name }}</h1>
        </div>
        <div class="col py-4">
            <ul class="d-flex justify-content-around flex-wrap plant-needs-container">
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="/media/watering-can.png" width="80" height="80" alt="Person caring for plants">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold text-uppercase">{{ product.water_need }}</h2>
                            <p class="text-center mb-5">
                                [water description]
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="/media/humidity.png" width="80" height="80" alt="Person caring for plants">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold text-uppercase">{{ product.humidity_need }}</h2>
                            <p class="text-center mb-5">
                                [humidity description]
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="/media/growth.png" width="80" height="80" alt="Person caring for plants">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold text-uppercase">{{ product.growth_need }}</h2>
                            <p class="text-center mb-5">
                                [growth description]
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="/media/thermometer.png" width="80" height="80" alt="Person caring for plants">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold text-uppercase">{{ product.temp_need }}</h2>
                            <p class="text-center mb-5">
                                [temp description]
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="/media/cloudy-day.png" width="80" height="80" alt="Person caring for plants">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold text-uppercase">{{ product.light_need }}</h2>
                            <p class="text-center mb-5">
                                [light description]
                            </p>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="/media/hand-brown.png" width="80" height="80" alt="Person caring for plants">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold text-uppercase">{{ product.ease_of_care }}</h2>
                            <p class="text-center mb-5">
                                [ease of care description]
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 p-4 d-flex justify-content-center align-items-center top-tip-title">
            <h1 class="fw-bold"> Top tip</h1>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center lightbulb">
            <h1>
                <i class="far fa-lightbulb"></i>
            </h1>
        </div>
        <div class="col-sm-12 col-md-8 p-4 d-flex align-items-center top-tip-content">
            <div class="top-tip-text">
                <p class="fs-6 mb-0">{{ product.top_tip }}</p>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
</div>
{% endblock %}