{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block extra_title %}| {{ product.friendly_name }} {% endblock %}

{% block header_extra %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid shop-container">
    <div class="row">
        <div class="col-sm-12 col-md-6 item-left d-flex justify-content-center align-items-center order-sm-0 order-md-0 order-last py-5">
            <div class="item-info">
                {% if product.is_plant %}
                <span class="navbar-brand text-center">
                    <img src="{% static 'images/brand-logo-plant.png' %}" alt="Plant" width="40" height="60" class="mb-4 d-inline-block align-text-center">
                </span>
                {% else %}
                <span class="navbar-brand text-center">
                    <img src="{% static 'images/brand-logo-spade.png' %}" alt="Spade" width="35" height="65" class="mb-4 d-inline-block align-text-center">
                </span>
                {% endif %}
                <h1>{{ product.friendly_name }}</h1>
                {% if product.is_in_seasonal_collection %}
                <a href="{% url 'shop' %}?seasonal_collection={{ product.seasonal_collection }}" target="_self" class="text-decoration-none text-uppercase">
                    <p><i class="fas fa-tag fa-lg"></i> {{ product.seasonal_collection }} collection</p>
                </a>
                {% else %}
                {% endif %}
                {% if product.is_on_sale %}
                <div class="mb-2">
                    <p class="fw-bold old-price fs-4 mb-0 d-inline"><s>£{{ product.price }}</s></p>
                    <p class="fw-bold fs-4 d-inline sale-price">NOW £{{ product.sale_price }}</p>
                </div>
                {% else %}
                <p class="mb-1 fs-4 fw-bold">£{{ product.price }}</p>
                {% endif %}
                {% if product.height %}
                    <p class="mt-1">{{ product.height }}</p>
                {% else %}
                {% endif %}
                {% if product.size %}
                    <p class="mt-1 text-uppercase">{{ product.size }}</p>
                {% else %}
                {% endif %}
                <form class="form mt-4" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 mt-4">
                            <p class="fw-bold">Quantity</p>
                            <div class="form-group quantity w-50 bag-quantity">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus fa-lg"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input rounded-0 id_qty_{{ product.id }}" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus fa-lg"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-grid gap-2 item-left-links pb-2 mt-5">
                                <button type="submit" value="Add to bag" class="py-3 px-2 text-center text-decoration-none fw-bold" target="_self">
                                    Add to bag<i class="fas fa-cart-plus float-end fa-lg"></i>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
        {% if product.image.url %}
        <div class="col-sm-12 col-md-6 item-right order-md-1 order-first" 
            style="background: url({{product.image.url}}) no-repeat center;
            background-size: cover;">
        </div>
        {% else %}
        <div class="col-sm-12 col-md-6 item-right order-md-1 order-first" 
            style="background: url(../images/noimage.png) no-repeat center;
            background-size: cover;">
        </div>
        {% endif %}
    </div>
    {% if product.is_plant %}
    <div class="row plant-needs d-flex flex-column" data-aos="fade-up" data-aos-delay="600">
        <div class="col text-center mt-5 mb-3">
            <h1>About ~ {{ product.friendly_name }}</h1>
        </div>
        <div class="col py-4">
            <ul class="d-flex justify-content-around flex-wrap plant-needs-container">
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="{% static 'images/watering-can.png' %}" width="80" height="80" alt="Watering can">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold">{{ product.water_need|capfirst }}</h2>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="{% static 'images/humidity.png' %}" width="80" height="80" alt="Humidity percentage">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold">{{ product.humidity_need|capfirst }}</h2>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="{% static 'images/growth.png' %}" width="80" height="80" alt="Plant growth">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold">{{ product.growth_need|capfirst }}</h2>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="{% static 'images/thermometer.png' %}" width="80" height="80" alt="Thermometer">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold">{{ product.temp_need|capfirst }}</h2>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="{% static 'images/cloudy-day.png' %}" width="80" height="80" alt="Clouds and sun">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold">{{ product.light_need|capfirst }}</h2>
                        </div>
                    </div>
                </li>
                <li class="d-inline col-12 col-md-6 col-lg-4 p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                        <img src="{% static 'images/hand-brown.png' %}" width="80" height="80" alt="Hand holding plant">
                        <div class="why-text">
                            <h2 class="text-center fs-5 mt-3 fw-bold">{{ product.ease_of_care|capfirst }}</h2>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" data-aos="fade-right" data-aos-delay="600">
        <div class="col-sm-12 p-4 top-tip-title">
            <h1 class="fw-bold">Our recommendations</h1>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="600">
        {% if product.image.url %}
        <div class="col-sm-12 col-md-4 item-about-left" style="background:url({{ product.image.url }}) no-repeat center;"></div>
        {% else %}
        <div class="col-sm-12 col-md-4 item-about-left" style="background:url(/media/noimage.png) no-repeat center;"></div>
        {% endif %}
        <div class="col-sm-12 col-md-8 d-flex align-items-center item-about-right p-4">
            <ul class="list-unstyled d-flex flex-column justify-content-evenly">
                <li class="need need-water">
                    <p class="fw-bold">
                        {{ product.tip_water }}
                    </p>
                </li>
                <li class="need need-humidity">
                    <p>
                        {{ product.tip_humidity }}
                    </p>
                </li>
                <li class="need need-growth">
                    <p class="fw-bold">
                        {{ product.tip_growth }}
                    </p>
                </li>
                <li class="need need-temperature">
                    <p>
                        {{ product.tip_temperature }}
                    </p>
                </li>
                <li class="need need-light">
                    <p class="fw-bold">
                        {{ product.tip_light }}
                    </p>
                </li>
                <li class="need need-ease">
                    <p class="mb-0">
                        {{ product.tip_ease }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 recommendations p-4">
            <h1 class="fw-bold fs-3 text-center pt-4">
                You may also like...
            </h1>
        </div>
        <div class="col-12 p-4">
            <div class="carousel pb-4"
                data-flickity='{ "draggable": true }'>
                {% if recommended_items.count > 0 %}
                    {% for item in recommended_items %}
                    <div class="carousel-cell item-page-cell rounded-0">
                        <div class="card index-card plants">
                            {% if item.image.url %}
                                {% if item.is_on_sale %}
                                    <div class="position-absolute discount-price-wrapper">
                                        <div class="discount-price d-flex flex-column p-3">
                                            <p class="fw-bold my-auto mx-auto text-center fs-5">Sale!</p>
                                        </div>
                                    </div>
                                {% endif %}
                            <img class="card-img-top index-img" src="{{ item.image.url }}" alt="Image of {{ item.name }}">
                            {% else %}
                            <img class="card-img-top index-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                            {% endif %}
                            <div class="card-body item-card">
                                <h5 class="card-title fw-bold fs-3">{{ item.friendly_name }}</h5>
                                <p class="fw-bold">£{{ item.price }}</p>
                                <a href="{% url 'item_page' item.id %}" class="btn view-item p-3 rounded-0 w-100">View item</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <a href="{% url 'shop' %}" class="btn p-3 fw-bold text-decoration-none shop-for-items">
                    Shop for items
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_increment_script.html' %}
{% endblock %}