{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Home {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid shop-container p-3">
    <div class="row shop-title">
        <div class="col">
            <h1 class="text-center fw-bold">
                Browse shop
            </h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="container search-filters p-3">
                <div class="row">
                    <div class="col">
                        <h6 class="fw-bold fs-3">Filter your search...</h6>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-sm-12 col-lg-4">
                        <p class="mb-2 bc">By collection:</p>
                        <div class="dropdown collection-dropdown mb-3">
                            <button class="w-100 text-start btn dropdown-toggle rounded-0 collection-toggle" type="button" id="searchFilterCollection" data-bs-toggle="dropdown" aria-expanded="false">
                              Choose a collection...
                            </button>
                            <ul class="dropdown-menu w-100 rounded-0" aria-labelledby="searchFilterCollection">
                              <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?category=plants">Show all</a></li>
                              <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?seasonal_collection=winter">Winter collection</a></li>
                              <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?seasonal_collection=valentines">Valentines collection</a></li>
                              <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?seasonal_collection=spring">Spring collection</a></li>
                              <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?seasonal_collection=summer">Summer collection</a></li>
                            </ul>
                        </div>
                        <p class="mb-2 bc">By category:</p>
                        <div class="dropdown collection-dropdown">
                            <button class="w-100 text-start btn dropdown-toggle rounded-0 collection-toggle" type="button" id="searchFilterType" data-bs-toggle="dropdown" aria-expanded="false">
                              Choose a collection...
                            </button>
                            <ul class="dropdown-menu w-100 rounded-0" aria-labelledby="searchFilterType">
                              <li><a class="dropdown-item collection-option" href="{% url 'shop' %}">Show all</a></li>
                              <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?category=plants">Plants</a></li>
                              <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?category=accessories">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8 plant-need-filters">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4 mb-3">
                                <p class="mb-2 bc">Watering:</p>
                                <button class="w-100 text-start btn dropdown-toggle rounded-0 collection-toggle" type="button" id="searchFilterWater" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose an option...
                                  </button>
                                  <ul class="dropdown-menu rounded-0" aria-labelledby="searchFilterWater">
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?water_need=always thirsty">Always thirsty</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?water_need=light watering">Light watering</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?water_need=water only when dry">Water only when dry</a></li>
                                  </ul>
                            </div>
                            <div class="col-sm-12 col-lg-4 mb-3">
                                <p class="mb-2 bc">Light:</p>
                                <button class="w-100 text-start btn dropdown-toggle rounded-0 collection-toggle" type="button" id="searchFilterType" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose an option...
                                  </button>
                                  <ul class="dropdown-menu rounded-0" aria-labelledby="searchFilterType">
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?light_need=loves bright light">Loves bright light</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?light_need=loves a bit of both">Loves a bit of both</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?light_need=loves bright light">Loves the shade</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-lg-4 mb-3">
                                <p class="mb-2 bc">Temperature:</p>
                                <button class="w-100 text-start btn dropdown-toggle rounded-0 collection-toggle" type="button" id="searchFilterType" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose an option...
                                </button>
                                <ul class="dropdown-menu rounded-0" aria-labelledby="searchFilterType">
                                <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?temp_need=keep cool">Keep cool</a></li>
                                <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?temp_need=keep at room temperature">Keep at room temperature</a></li>
                                <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?temp_need=keep warm">Keep warm</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-lg-4 mb-3">
                                <p class="mb-2 bc">Humidity:</p>
                                <button class="w-100 text-start btn dropdown-toggle rounded-0 collection-toggle" type="button" id="searchFilterType" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose an option...
                                  </button>
                                  <ul class="dropdown-menu rounded-0" aria-labelledby="searchFilterType">
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?humidity_need=prefers dry air">Prefers dry air</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?humidity_need=likes a little moisture">Likes a little moisture</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?humidity_need=prefers humidity">Prefers humidity</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-lg-4 mb-3">
                                <p class="mb-2 bc">Growth rate:</p>
                                <button class="w-100 text-start btn dropdown-toggle rounded-0 collection-toggle" type="button" id="searchFilterType" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose an option...
                                  </button>
                                  <ul class="dropdown-menu rounded-0" aria-labelledby="searchFilterType">
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?growth_need=fast grower">Fast grower</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?growth_need=takes its time">Takes its time</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?growth_need=lifelong friend">Lifelong friend</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-lg-4 mb-3">
                                <p class="mb-2 bc">Ease of care:</p>
                                <button class="w-100 text-start btn dropdown-toggle rounded-0 collection-toggle" type="button" id="searchFilterType" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose an option...
                                  </button>
                                  <ul class="dropdown-menu rounded-0" aria-labelledby="searchFilterType">
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?ease_of_care=practically unkillable">Practically unkillable</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?ease_of_care=easy to care for">Easy to care for</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?ease_of_care=needs a bit of love">Needs a bit of love</a></li>
                                    <li><a class="dropdown-item collection-option" href="{% url 'shop' %}?ease_of_care=can be a diva">Can be a diva</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row mt-5">
        <div class="col">
            <div class="container">
                {% if current_categories %}
                    {% for c in current_categories %}
                    <p class="results-for fs-2 mr-3">Showing results for:
                        <span class="fw-bold results-badge p-3 fs-5">{{ c.name }}</span></p>
                    {% endfor %}
                {% else %}
                    <p class="results-for fs-2">Showing results for:
                    <span class="fw-bold results-badge p-3 fs-5">all</span></p>
                {% endif %}
            </div>
        </div>
    </div>-->
    <div class="row mt-5">
        <div class="col">
            <div class="container sort-filter d-flex justify-content-center align-items-center p-3">
                <select class="form-select w-25" aria-label="Default select example" id="sort-selector">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col d-flex justify-content-center align-items-center results-num">
            {% if products %}
            <p class="fw-bold">Showing {{ products|length }} result(s)</p>
            {% else %}
            <p class="fw-bold">No results found!</p>
            {% endif %}
            <hr class="underline mt-5">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="container p-3 shop-items">
                <div class="row">
                    {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                        <div class="card border-0 h-100">
                            {% if product.image %}
                            <a href="{% url 'item_page' product.id %}" target="_self">
                                <img class="card-img-top" src="/media/{{ product.image }}" alt="Image of {{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'item_page' product.id %}" target="_self">
                                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body px-3 pt-2 pb-4 mt-2">
                                <a href="{% url 'item_page' product.id %}" target="_self" class="text-decoration-none">
                                    <h6 class="fw-bold fs-3">{{ product.friendly_name }}</h6>
                                </a>
                                {% if product.is_in_seasonal_collection %}
                                <a href="" target="_self" class="text-decoration-none text-uppercase">
                                    <p><i class="fas fa-tag fa-lg"></i> {{ product.seasonal_collection }} collection</p>
                                </a>
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="card-footer bg-transparent border-0 pb-3">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="fw-bold">£{{ product.price }}</p>
                                    </div>
                                    <div class="col-6 text-end favourite">
                                        <i class="far fa-heart fa-lg"></i>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col add-to-bag">
                                        <button class="w-100 p-3">Add to bag</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}