{% extends 'base.html' %}
{% load static %}

{% block page_title %}| Contact Us {% endblock %}

{% block header_extra %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container vh-100 d-flex">
    <div class="container-fluid contact-container m-auto d-flex h-100">
        <div class="row w-100">
            <div class="col-12 pt-3">
                <h1 class="fw-bold mt-5 p-5 text-center">Get in touch</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}